/* ActuationPage.css */
.actuation-page {
    text-align: center;
    /* margin-top: 50px; */
  }
  
  .actuation-page h2 {
    margin-bottom: 20px;
  }
  
  .actuation-page p {
    margin-bottom: 30px;
  }
  