.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 4.5vw; */
    flex-wrap: wrap;
}

.tool-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw; /* Adjust as needed */
    height: 10vw;
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.tool-button img {
    width: 3vw;
    height: 3vw;
    margin-bottom: 8px; /* Space between image and title */
}

.tool-button-title {
    font-size: 0.9em;
    font-weight: bold;
}
