.lshape-svg-container {
    position: absolute;
    bottom: 10%;
    right: 52%;
    width: 6vw;
    height: 8vw;
    z-index: 2;
}

.lshape-svg-container svg {
    width: 6vw;
    height: 8vw;
    max-width: 100vw;
    max-height: 50vw;
}

.lshape-pipe-border {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.lshape-pipe-water {
    fill: url(#lshapeWaveGradient);
    stroke: rgb(198, 211, 212);
    clip-path: url(#lshapePipeClipPath);
}

@keyframes lshapeWaveAnimation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes lshapeInitialFlowAnimation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes lshapeFallingWater {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(6vw) scaleX(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translateY(11vw) scaleX(1);
        opacity: 0;
    }
}

@keyframes lshapeBubbleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-25px);
        opacity: 0;
    }
}

.lshape-initial-flow {
    animation: lshapeInitialFlowAnimation 3s forwards;
    fill: lightblue;
}

.lshape-wave-path {
    animation: lshapeWaveAnimation 2s infinite linear;
}


