.rol-svg-container {
    width: 8vw;
    height: 5vw;
    position: relative;
}

.rol-pipe-border {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}

.rol-pipe-water {
    clip-path: url(#rolPipeClipPath);
}

.rol-initial-flow {
    animation: initialFlow 2s linear forwards;
}

.rol-wave-path {
    animation: waveFlow 2s linear infinite;
}

@keyframes initialFlow {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes waveFlow {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
