/* NavigationBar.css */
.navbar {
    position: sticky; /* Change position to sticky */
    top: 0;
    left: 0;
    width: 98vw;
    height: 5vw;
    background-color: #123462;
    color: white;
    /* padding: 20px 30px; */
    padding-left: 2vw;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar__logo img {
    width: 5vw;
    height: auto;
    margin-right: 15px;
}

.navbar__dashboard {
    font-size: 1rem;
    flex-grow: 1;
    text-align: center;
}

.navbar__title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    overflow: hidden; /* Prevent text overflow */
    white-space: nowrap; /* Prevent text wrapping */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .navbar__logo {
        margin-bottom: 10px;
    }
    .navbar__logo img {
        margin-right: 0;
    }
}

.navbar__dropdown {
    background-color: #123462;
    color: white;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    margin: 30px;

}

.navbar__dropdown option {
    background-color: #123462;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.navbar__dropdown option:checked {
    background-color: #456789;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .navbar__logo {
        margin-bottom: 10px;
    }

    .navbar__logo img {
        margin-right: 0;
    }
}
