/* NavigationBar.css */
.navbar {
    position: sticky;
    top: 0vw;
    left: 0;
    width: 100vw;
    height: 5vw;
    background-color: #123462;
    color: white;
    /* padding: 20px 30px; */
    padding-left: 2vw;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar__logo img {
    width: 5vw;
    height: auto;
/* <<<<<<< HEAD */
    margin-right: 1vw;
/* ======= */
    /* margin-right: 15px; */
/* >>>>>>> 3eb0706b3824bf144e57fb6cc1a00abd19af48f4 */
}

.navbar__dashboard {
    font-size: 1rem;
    flex-grow: 1;
    text-align: center;
}

.navbar__title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    overflow: hidden; /* Prevent text overflow */
    white-space: nowrap; /* Prevent text wrapping */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 90vw) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10vw 0;
    }
    .navbar__logo {
        margin-bottom: 1vw;
    }
    .navbar__logo img {
        margin-right: 0;
    }
}

.navbar__dropdown {
    background-color: #123462;
    color: white;
    padding: 1vw;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 1vw;
    margin: 2vw;

}

.navbar__dropdown option {
    background-color: #123462;
    color: white;
    padding: 12vw;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.navbar__dropdown option:checked {
    background-color: #456789;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 90vw) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1vw 0;
    }

    .navbar__logo {
        margin-bottom: 1vw;
    }

    .navbar__logo img {
        margin-right: 0;
    }
}
