.mirror-svg-container {
    position: absolute;
    bottom: -14vw;
    left: -3vw;
    width: 6vw;
    height: 13.7vw;
    z-index: 2;
}

.mirror-svg-container svg {
    width: 10vw;
    height: 10vw;
    max-width: 100vw;
    max-height: 75vw;
}

.mirror-pipe-border {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.mirror-pipe-water {
    fill: url(#mirrorWaveGradient);
    stroke: rgb(39, 186, 194);
    clip-path: url(#mirrorPipeClipPath);
}

@keyframes mirrorWaveAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes mirrorInitialFlowAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}



.mirror-initial-flow {
    animation: mirrorInitialFlowAnimation 3s forwards;
    fill: lightblue;
}

.mirror-wave-path {
    animation: mirrorWaveAnimation 2s infinite linear;
}

.mirror-falling-water {
    fill: rgb(37, 194, 226);
    animation: fallingWater 300ms infinite ease-in;
    transform-origin: top;
    height: 2vw;
    z-index: 2;
}

.mirror-falling-water2 {
    fill: rgb(37, 194, 226);
    animation: fallingWater 300ms infinite ease-in;
    transform-origin: top;
    z-index: 2;
}

.mirror-falling-water3 {
    fill: rgb(37, 194, 226);
    animation: fallingWater 1s infinite ease-in;
    transform-origin: top;
    z-index: 2;
}

@keyframes fallingWater {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(2vw) ;
        opacity: 0.8;
    }
    100% {
        transform: translateY(-1vw) ;
        opacity: 0;
    }
}
.mirror-bubble {
    fill: rgb(15, 62, 155);
    animation: bubbleAnimation 1s infinite ease-in-out;
}

@keyframes bubbleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-25px);
        opacity: 0;
    }
}

