.water-tank {
  position: relative;
  width: 10vw;
  height: 6vw;
  background-color: #bcbaba;
  border-radius: 2vw;
  overflow: hidden; /* Ensure the conical bottom doesn't overflow */
  border: 2px solid #000000; /* Black border */
}


.water-tank-cone {
  position: absolute;
  bottom: -3vw; /* Adjust the position to fit the tank body */
  left: 0;
  width: 100%;
  height: 6vw; /* Height of the conical bottom */
  background-color: #bcbaba;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.water-tank-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1vw;
  background-color: #bcbaba;
}

.water-tank-fill {
  position: absolute;
  bottom: -8%; /* Start filling from the bottom */
  left: 1vw;
  width: 15vw;
  background-color: rgb(62, 195, 221);
  transition: height 3s ease;
  animation: watertank-wave 3s infinite ease-in-out;
  border-radius: 100%;
}

.watertank-wave {
  position: relative;
  width: 7vw;
  height: 2vw;
  left: 5.5vw;
  right: 3vw;
  bottom: 0.2vw;
  background: rgb(62, 194, 220);
  border-radius: 100%;
  transition: height 3s infinite;
  animation: watertank-wave 3s infinite;
}

.watertank-wave:nth-of-type(2) {
  animation-delay: 1ms;
}

@keyframes watertank-wave {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-30%, -20%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.water-tank-percentage {
  position: absolute;
  bottom: 1vw;
  right: 0.5vw;
  font-size: 1vw;
  color: #0b0909;
}
