.water-tank {
  position: relative;
  width: 6vw;
  height: 9vw;
  background-color: #bcbaba;
  border-radius: 2vw;
  overflow: hidden; /* Ensure the conical bottom doesn't overflow */
  border: 2px solid #000000; /* Black border */
}


.water-tank-cone {
  position: absolute;
  bottom: -3vw; /* Adjust the position to fit the tank body */
  left: 0;
  width: 100%;
  height: 6vw; /* Height of the conical bottom */
  background-color: #bcbaba;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.water-tank-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1vw;
  background-color: #bcbaba;
}

.water-tank-fill {
  position: absolute;
  bottom: -10%; /* Start filling from the bottom */
  left: 1vw;
  width: 15vw;
  background-color: rgb(62, 195, 221);
  transition: height 2s infinite;
  animation: wave 3s infinite;
  border-radius: 80%;
}

.watertank-wave {
  position: relative;
  width: 7vw;
  height: 5vw;
  left: 3vw;
  right: 10%;
  bottom: 0.2vw;
  background: rgb(62, 194, 220);
  border-radius: 50vw;
  animation: watertank-wave 3s infinite;
}

@keyframes watertank-wave {
  0% {
    transform: translate(50%,);
  }
  50% {
    transform: translate(20%,);
  }
  100% {
    transform: translate(-50%,);
  }
}

.water-tank-percentage {
  position: absolute;
  bottom: 1vw;
  right: 0.5vw;
  font-size: 1vw;
  color: #0b0909;
}
