.svg-container {
    position: absolute;
    bottom: 10%;
    right: 52%;
    width: 0vw;
    height: 1.6vw;
    z-index: 2;
}

.svg-container svg {
    width: 6vw;
    height: 12.5vw;
    max-width: 100vw;
    max-height: 50vw;
    z-index: 2;
}

.pipe-border {
    fill: none;
    stroke: black;
    stroke-width: 2;
    z-index: 2;
}

.pipe-water {
    fill: url(#waveGradient);
    stroke: rgb(39, 186, 194);
    clip-path: url(#pipeClipPath);
}

@keyframes waveAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes initialFlowAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fallingWater {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(6vw) scaleX(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translateY(6vw) scaleX(0);
        opacity: 0;
    }
}

@keyframes bubbleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-25px);
        opacity: 0;
    }
}

.initial-flow {
    animation: initialFlowAnimation 3s forwards;
    fill: lightblue;
}

.wave-path {
    animation: waveAnimation 2s infinite linear;
}

.falling-water {
    fill: rgb(37, 194, 226);
    animation: fallingWater 300ms infinite ease-in;
    transform-origin: top;
    height: 2vw;
    z-index: 2;
}

.falling-water2 {
    fill: rgb(37, 194, 226);
    animation: fallingWater 300ms infinite ease-in;
    transform-origin: top;
    z-index: 2;
}

.falling-water3 {
    fill: rgb(37, 194, 226);
    animation: fallingWater 1s infinite ease-in;
    transform-origin: top;
    z-index: 2;
}

.bubble {
    fill: rgb(15, 62, 155);
    animation: bubbleAnimation 1s infinite ease-in-out;
  
}
