/* SimulationPage.css */
.simulation-page {
    text-align: center;
    margin-top: 50px;
  }
  
  .simulation-page h2 {
    margin-bottom: 20px;
  }
  
  .simulation-page p {
    margin-bottom: 30px;
  }
  