.Ro-tank {
    position: relative;
    width: 4.5vw;
    height: 5.7vw;
    background-color: #bcbaba;
    border-radius: 2vw;
    overflow: hidden; /* Ensure the conical bottom doesn't overflow */
    border: 2px solid #000000; /* Black border */
  }
  
  
  
  
  
  .Ro-tank-fill {
    position: absolute;
    bottom: -1%; /* Start filling from the bottom */
    width: 20vw;
    display: flex;
    background-color: rgb(62, 195, 221);
    overflow: hidden; /* Ensure waves don't overflow */
    transition: height 1s ease;
    animation: wave 3s infinite ease-in-out;
    border-radius: 0%;
    flex-direction: column;
    z-index: 2;
  }
  
  .ro-wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    width: 300.3vw;
    height: 3vw;
    bottom: 0;
    background: rgb(62, 195, 221);
    
    opacity: 1;
    animation: wave 3s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 2s ease -1.25s infinite;
    transform: translate3d(0, 0, 0);
   
  }
  
  .ro-wave.wave2 {
    bottom: 0;
    animation: wave 2s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 3s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes ro-wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -83.3vw;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0, 1.302vw, 0);
    }
    50% {
      transform: translate3d(0, 0.26vw, 0);
    }
  }
  