.sump-container {
  position: relative;
  width: 6vw;
  left: 7vw;
  height: 6.8vw;
  overflow: hidden;
  border: 2px solid black;
  background-color: #ccc;
 
}

.sump {
  position: relative;
  width: 1vw;
  height: 8vw;
}

.sump-background {
  position: absolute;
  width: 100%;
  height: 1vw;
  background-color: #ccc;
  
}

.sump-fill {
  position: absolute;
  width: 15vw;
  bottom: -10%;
  left: 1vw;
  background-color: rgb(37, 194, 226);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden; 
  transition: height 5s ease;
  animation: sumpwave 3s infinite ease-in-out;
  border-radius: 100%;

}

.sumpwave {
width: 200%;
height: 20px; /* Adjust as needed */
background: rgb(37, 194, 226);;
border-radius: 50%;
position: absolute;
animation: wave-animation 4s infinite linear;
}

.sumpwave:nth-child(2) {
top: 10px;
animation: wave-animation 4s infinite linear reverse;
}

@keyframes sumpwave {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-30%, -20%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.sump-percentage {
  position: relative;
  width: -10vw;
  text-align: center;
  bottom: 0;
  font-size: 0.8vw;
  color: rgb(6, 6, 6);
  z-index: 6; 
}


.sump-text {
  font-size: 1vw;
  position: absolute;
  top: calc(70% + 0.5vw); /* Adjust the top value to position the text below the sump */
  left: 23%;
  transform: translateX(-50%);
  z-index: 100;
  color: black;
  text-align: center;
  width: 100%;
}