.page{
    width: 98.6vw;
    height: 18vh;
}

.page::-webkit-scrollbar {
    display: none;
  }

.canvas {
    /* background-color: rgb(255, 255, 255); */
    padding-top: '1vw';
}

.node-on {
  background-color: green; /* Change background color when node is on */
  color: white; 
  border-radius: 5vw; 
  border: 2px solid green; /* Thick border */
}

.node-off {
  background-color: red; /* Change background color when node is off */
  color: black; /* Change text color when node is off */
  border-radius: 50%;
  border: 20px solid red; /* Thick border */
  z-index: 10;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position:relative ; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 30vw; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
    justify-content: center; /* Center vertically */
    align-items: center; /* Center vertically */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* Center horizontally */
    margin-top: 5%; /* Center vertically */
    padding: 0px;
    border: 1px solid #888;
    width: 82%; /* Could be more or less, depending on screen size */
    height: 47.5%;
    max-height: 25vw;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 1.3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.buttons-row {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between buttons */
  }
  
  /* Container Styling */
  #tableContainer {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Table Styling */
  #tableContainer table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tableContainer th, #tableContainer td {
    border: 1px solid #0a0a0a;
    padding: 12px;
    text-align: left;
  }
  
  #tableContainer th {
    background-color: #3498db;
    color: rgb(19, 19, 19);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  #tableContainer tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #tableContainer tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Button Styling */
  #tableContainer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
  }
  
  #turnOnButton {
    background-color: #28a745;
    color: white;
  }

  #turnOffButton {
    background-color: #dc3545;
    color: white;
  }
  
  /* General style for the powerResetButton */
  #powerResetButton {
    background-color: #435e9f; /* Dark blue background */
    color: white; /* White text */
    /* Add other styling as needed */
  }
  
  #nodeResetButton {
    background-color: #17a2b8;
    color: white;
  }
  
  #updateValuesButton {
    background-color: #6c757d;
    color: white;
  }
  
  #tableContainer button:hover {
    opacity: 0.8;
  }

  #turnOnButton:disabled,
  #turnOffButton:disabled,
  #powerResetButton:disabled,
  #nodeResetButton:disabled,
  #updateValuesButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
    position: relative; /* Ensure this is set for positioning the ::after content */
  }
  
  /* #turnOnButton:disabled::after,
  #turnOffButton:disabled::after,
  #powerResetButton:disabled::after,
  #nodeResetButton:disabled::after,
  #updateValuesButton:disabled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><circle cx="12" cy="12" r="10"/><line x1="6" y1="6" x2="18" y2="18" stroke="white" stroke-width="2"/></svg>') no-repeat center;
    background-size: contain;
    pointer-events: none;
  } */
  /* Button Container Styling */
  .buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    background-color: #f9f9f9;
  }
  
  .no-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
