/* Simulation Form Component */
.simulation-form {
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 0.625rem;
}

.simulation-form select {
    margin-bottom: 0.625rem;
    padding: 0.313rem;
    width: 12.5rem;
}
/* General Label Styles */
label {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    color: #333;
    margin-bottom: 0.5vw;
}

/* Dropdown (Select) Styles */
.dropdown-content {
    padding: 0.5vw;
    height: 5vh;
    width: 15.9vw;
    max-width: 30vw;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    font-size: 1vw;
    cursor: pointer;
    appearance: none; /* Removes default arrow in certain browsers */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23333"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.dropdown-content-n {
    padding: 0.5vw;
    width: 5vw;
    margin-bottom: 0.3vw;
    height: 1.5vh;
    max-width: 30vw;
    border: 0vw solid #ccc;
    border-radius: 0.4vw;
    background-color: #fff;
    font-size: 0.8vw;
    cursor: pointer;
    appearance: none; /* Removes default arrow in certain browsers */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23333"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.dropdown-content:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
    outline: none;
}

/* Option Styles */
.dropdown-content option {
    padding: 1vw;
    background-color: #fff;
    color: #333;
}

/* Container Styles (optional) */
.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1vw;
    max-width: 18.75rem;
    margin: 0 auto;
}


/* .simulation-form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 12.5rem;
} */

/* .simulation-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
} */

/* .simulation-form button:hover {
    background-color: #0056b3;
} */

.simulation-speed {
    width: 16vw;
    display: flex;
    align-items: center;
    background-color: #123462;
    border-radius: 0.5vw;
    margin-bottom: 0.4vw;
}

.simulation-speed .dropdown-content-n {
    margin-left: 1px; /* Adjust as needed for spacing */
    height: 12vh;
    align-items: center;
    border: 1px solid #1a1a1a;
}


/* .container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: auto;
    padding: 2.5rem;
    background-color: #ffffff;
} */

.heading {
    width: 16vw;
    display: normal;
    white-space: nowrap;
    font-size: 1vw;
    align-items: center;
    justify-content: space-between; /* Distributes content to start and end */
    cursor: pointer;
    color: #fff; /* White text for better contrast */
    padding: 0.700rem 1.25rem; /* Added horizontal padding for better spacing */
    background: linear-gradient(45deg, #123462, #123462); /* Blacish gradient background */
    border-radius: 0.313rem; /* Rounded corners for a modern look */
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.heading-as {
    display: normal;
    white-space: nowrap;
    font-size: 1vw;
    align-items: center;
    justify-content: space-between; /* Distributes content to start and end */
    cursor: pointer;
    padding: 0.700rem 1.25rem; /* Added horizontal padding for better spacing */
    border-radius: 0.313rem; /* Rounded corners for a modern look */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.heading:hover {
    background: linear-gradient(45deg, #1a1a1a, #333333); /* Reverse gradient on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}


.heading-in{
    max-width: 16vw;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes content to start and end */
    cursor: pointer;
    color: #123462;
    margin: 0.625rem 0;
    border-radius: 0.313rem; 
    transition: background-color 0.3s; /* Smooth transition for hover effect */

}



.heading::after {
    /* content: '▼'; */
    font-size: 1rem;
    transition: transform 0.3s; /* Smooth transition for rotation */
}

/* Rotate arrow when heading is active or clicked */
.heading.active::after {
    transform: rotate(180deg);
}

/* Reverse the order of collapsible sections */
/* .container {
    flex-direction: column-reverse;
} */

/* Reverse the order of collapsible sections */
.collapsible-content {
    margin-bottom: 1.25rem;
    background-color: #f9f9f9;
    padding: 0.625rem;
    border-radius: 0.313rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0,0,0,0.2);
}

/* Reverse the order of collapsible sections */
/* .container {
    flex-direction: column-reverse;
} */


/* Reverse the order of collapsible sections */
.collapsible-content {
    margin-bottom: 1.25rem;
    background-color: #f9f9f9;
    padding: 0.625rem;
    border-radius: 0.313rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0,0,0,0.2);
}

.input-box {
    width: 16vw; /* Ensures the input box takes the full width of its container */
    max-width: 50vw; /* Responsive max width */
    height: 3vw;
    padding: 0.7rem 1.25rem;
    margin: 0.313rem 0 0.938rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1vw; /* Adjust the font size for better responsiveness */
}


.container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 67vh;
    padding: 1.25rem;
    background-color: #f5f5f5;
}


/* .input-box {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

.button-form {
    width: 15vw;
    background-color: #0f38cd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #455ca0;
}

/* Additional styles for collapsible sections */
.collapsible-content {
    margin-bottom: 1.25rem;
    background-color: #f9f9f9;
    padding: 0.625rem;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.313rem rgba(0,0,0,0.2);
}

/* Additional styles for collapsible sections */
/* .collapsible-content {
    margin-bottom: 1.25rem;
    background-color: #f9f9f9;
    padding: 0.625rem;
    border-radius: 0.313rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0,0,0,0.2);
} */

.flex-container {
    /* display: flex; */
    justify-content: space-between;
    /* display: flex; */
    flex-wrap: nowrap;
}

.button-container {
    display: flex;
    height: 20vw;
    top: 20vw;
    /* justify-content: space-between; Adjust as needed to control spacing between buttons */
}

.button-form {
    flex: 1; /* Adjust as needed to control button width */
    margin: 0 0.313rem; /* Adjust as needed for spacing */
    height: 6vh;
}